@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

@font-face {
  font-family: OpenSansBold;
  src: url('../../fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-family: OpenSansRegular;
  src: url('../../fonts/OpenSans-Regular.ttf');
}

body {
  @apply bg-indigo-50;
}
